#!/bin/bash

#BSUB -o /tmp/out.%J

PLINK={{ plink }}
EMMAX={{ emmax }}
METAL={{ metal }}
PYTHON={{ python }}



# per population
{% for population in inputs %}

# 1. Extract SNPs from segment
TMPFILE=/tmp/${LSB_JOBID}_{{ population }}
$PLINK --noweb --bfile {{ inputs[population].infile }} --chr {{ chrom }} --from-bp {{ from_kb }} --to-bp {{ to_kb }} --make-bed --out ${TMPFILE}_1

# 2) Tanspose previous file

$PLINK --noweb --bfile ${TMPFILE}_1 --recode12 --output-missing-genotype 0 --transpose --out ${TMPFILE}_2 





####################
# {{ population }} #
####################

# 3) add segment covariates
COVFILE={{ inputs[population].covfile }}
SEGCOV=${TMPFILE}_{{ population }}_{{ chrom }}_{{ from_kb }}_cov.txt
$PYTHON segment_covariates.py --segments {{ segments }} --covariates $COVFILE --locus {{ chrom }}:{{ from_kb }} --output $SEGCOV

# 4) 
# archivos requeridos para correr EMMAX
PHENOFILE={{ inputs[population].phenofile }}
KINFILE={{ inputs[population].kinfile }}
TMPFILE_4=${TMPFILE}_4_{{ population }}

$EMMAX -v -d 10 -t ${TMPFILE}_2  -p $PHENOFILE -c $SEGCOV -k $KINFILE -o ${TMPFILE_4}


# 5) Formatear los archivos de salida de EMMAX para que puedan entrar a METAl

# 5.1) Mover los archivos .ps a .txt

mv ${TMPFILE_4}.ps ${TMPFILE_4}.txt

# 5.2) 

echo "SNP BETA SE P" > ${TMPFILE}_header.txt
cat ${TMPFILE}_header.txt ${TMPFILE_4}.txt > ${TMPFILE_4}_h.txt

# 5.3) Agregarle al archivo la frecuencia del alelo

FRQFILE={{ inputs[population].frqfile }}

join -1 2 -2 1 $FRQFILE ${TMPFILE_4}_h.txt > ${TMPFILE_4}_det.txt

# 5.4) 

echo "SNP BP" > ${TMPFILE}_chr.txt
awk '{print  $2, $4}' {{ inputs[population].infile }}.bim >> ${TMPFILE}_chr.txt
join -1 1 -2 1 ${TMPFILE}_chr.txt ${TMPFILE_4}_det.txt > ${TMPFILE_4}_detail.txt

#####################
# /{{ population }} #
#####################

{% endfor %}
# /per population
METALSCRIPT=${TMPFILE}_{{ chrom }}_{{ from_kb }}.metal
$PYTHON create_metal_script.py --details {% for population in inputs %}${TMPFILE}_4_{{ population }}_detail.txt {% endfor %} \
                               --output $METALSCRIPT

# 6) 
$METAL $METALSCRIPT
#mv METAANALYSIS1.TBL metal_outfile.tbl
