#!/bin/bash

# 1) Extraer los snps que están dentro de cada segmento. 

plink --bfile infile --chr 2 --from-kb 5000 --to-kb 10000 --make-bed --out outfile.1

# 2) Transponer los archivos obtenidos en el paso anterior 1)

plink --bfile outfile.1 --recode12 --output-missing-genotype 0 --transpose --out outfile.2

# 3) Construir el archivo de covariables

# 4) Correr el análisis de asociación segmento x segmento, población x población, con el programa EMMAX


# archivos requeridos para correr EMMAX
PHENFILE=/path/to/phenfile
KINFILE=/path/to/kinfile

emmax-intel64 -v -d 10 -t outfile.2  -p $PHENFILE -c covfile.3 -k $KINFILE -o outfile.4
# emmax-intel64 -v -d 10 -t outfile.2  -p $PHENFILE -c covfile.3 -k $KINFILE -o outfile.4
# emmax-intel64 -v -d 10 -t outfile.2  -p $PHENFILE -c covfile.3 -k $KINFILE -o outfile.4
# emmax-intel64 -v -d 10 -t outfile.2  -p $PHENFILE -c covfile.3 -k $KINFILE -o outfile.4


# 5) Formatear los archivos de salida de EMMAX para que puedan entrar a METAl

# 5.1) Mover los archivos .ps a .txt

mv outfile.4.nah.ps outfile.4.nah.txt

# 5.2) Ponerle título

echo "SNP BETA SE P" > header.txt
cat header.txt outfile.4.nah.txt > tmp1
mv tmp1 outfile.4.nah.1.txt

# 5.3) Agregarle al archivo la frecuencia del alelo

join -1 2 -2 1 allpopulation.frq outfile.4.nah.1.txt > outfile.4.nah.det.txt

# 5.4) Obtener los rs´s y posición del archivo .bim para después fusionar los archivos

echo "SNP BP" > chr.txt
awk '{print  $2, $4}' infile.bim >> chr.txt
join -1 1 -2 1 chr.txt outfile.4.nah.det.txt > tmp1
mv tmp1 outfile.4.nah.detail.txt 

# 6) Correr METAL

metal README_METAL_logLDL

mv METAANALYSIS1.TBL metal_outfile.tbl

